---
import Layout from '../layouts/Main.astro';
import Product from "../components/Product.astro";
---

<Layout title="Contacto | Tokugawa">
    <main>

        <div role="list" class="link-card-grid">
            <Product
                    name="../.."
                    description="Community"
                    image="Come say hi to our amazing Discord community. ❤️"
                    price: 5
            />
            <Product
                    name="../.."
                    description="Community"
                    image="Come say hi to our amazing Discord community. ❤️"
                    price: 5
            />
            <Product
                    name="../.."
                    description="Community"
                    image="Come say hi to our amazing Discord community. ❤️"
                    price: 5
            />
            <Product
                    name="../.."
                    description="Community"
                    image="Come say hi to our amazing Discord community. ❤️"
                    price: 5
            />
        </div>
    </main>
</Layout>
