---
import NavContainer from "./NavContainer.astro";
import NavItem from "./NavItem.astro";
---

<footer class="footer">
    <div class="footer-">

    </div>
    <div class="footer-">

    </div>
    <div class="footer-">

    </div>

</footer>